$govuk-assets-path: "govuk-frontend/dist/govuk/assets/";
$govuk-font-family: "GDS Transport", arial, sans-serif;

@import "govuk-frontend/dist/govuk/all";

// Overrides or custom styles that extend GOV.UK
body {
    @include govuk-font($size: 19);
    margin: 0;
    min-height: 100vh;
    background-color: $govuk-canvas-background-colour;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// Ensure images in assets are loaded correctly if needed, 
// though Vite usually handles imports well.